{% extends 'base.html' %}
{% block content %}
<a href="/add">Add Contact</a>
<table>
    <tr>
        <th>Name</th><th>Address</th><th>Email</th><th>Phone</th><th>Actions</th>
    </tr>
    {% for c in contacts %}
    <tr>
        <td>{{ c[1] }} {{ c[2] }}</td>
        <td>{{ c[3] }}</td>
        <td>{{ c[4] }}</td>
        <td>{{ c[5] }}</td>
        <td>
            <a href="/edit/{{ c[0] }}">Edit</a> |
            <a href="/delete/{{ c[0] }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
